*~
.DS_Store
.svn
.cvs
.htaccess
.vagrant
*.bak
*.swp
*.xml
Thumbs.db

# cpanel
.cpanel.yml

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-activate.php
wp-blog-header.php
wp-comments.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
license.text
/wp-admin/
/wp-includes/
wp-comments-post.php
wp-config-sample.php
index.php
readme.html
license.txt
debug.log

#Build
wp-content/themes/starter-theme/node_modules/
wp-content/themes/starter-theme/build/editor.js.map
wp-content/themes/starter-theme/build/index.js.map
wp-content/themes/starter-theme/build/index.css.map
!wp-content/themes/starter-theme/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi