{% extends "base.twig" %}

{% block content %}
	<div class="docs">
		<div class="container my-12">
			<div class="docs__grid">
				<div class="docs__sidebar">
					<div class="toc">
						<div class="toc__header">
							<p>Getting Started</p>
						</div>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
				<div class="docs__content">
					<div class="docs">
						<h1 class="text-5xl font-bold mt-0">{{ post.title }}</h1>
						{{ post.content }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}