<div class="hero-centered my-12">
	<div class="hero-centered__container">
		<div class="hero-centered__grid grid-cols-1 py-12 lg:py-24 lg:min-h-[600px]">
			<div class="hero-centered__content">
				<h1 class="hero-centered__heading">Welcome to TKTK components</h1>
				<p class="mt-3 text-base sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0">These componenets are meant to get you started.</p>
			</div>
		</div>
	</div>
</div>