<div class="drawer-example py-14">
	<div class="container">
		<div class="flex justify-center">
			<button class="btn btn--dark js-drawer-trigger">Open Drawer</button>
		</div>
	</div>
</div>
<div class="drawer">
	<h1>Hello</h1>
</div>