<div class="line-grid">
	<div class="line-grid__container">
		<div class="line-grid__grid">
			{% for item in 1..6 %}
				<div class="line-grid__item">
					<div class="line-grid__item-inner">
						<p class="line-grid__item-title">A title</p>
						<p class="line-grid__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iusto explicabo quasi, earum impedit dignissimos rem nam quis mollitia vel ex totam modi asperiores, unde optio necessitatibus inventore cupiditate nulla.</p>
						<div class="line-grid__item-link">
							<a href="#">Read more</a>
							{% include 'svg/arrow-narrow-right.twig' %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>