<div class="code-block">
	{% include 'components/code-block/header.twig' with { title: 'Slideshow' } %}
	<div class="code-block__preview">
		{% include 'components/slideshow/slideshow.twig' %}
	</div>
	<div class="code-block__container code-block__hidden">
		<div class="code-block__wrapper">
			<div class="code-block__highlight">
				<div class="code-block__btn js-lang-tab active" data-lang-btn="markup">HTML</div>
				<div class="code-block__btn js-lang-tab" data-lang-btn="scss">SCSS</div>
				<div class="code-block__btn js-lang-tab" data-lang-btn="js">JS</div>
				<button type="button" name="copy code to clipboard" class="code-block__btn js-copy-btn">Copy</button>
			</div>
			<pre class="active" data-lang="markup">
				<code class="language-markup">
					{{ '<div class="slideshow">
						<div class="container">
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://source.unsplash.com/1600x900" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://source.unsplash.com/1600x900" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://source.unsplash.com/1600x900" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://source.unsplash.com/1600x900" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://source.unsplash.com/1600x900" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>'|e('esc_html') }}
				</code>
			</pre>
		</div>
		<pre data-lang="js" data-src="{{ theme.link }}/src/js/app/Slideshows.js"></pre>
		<pre data-lang="scss" data-src="{{ theme.link }}/src/scss/app/slideshow.scss"></pre>
	</div>
</div>