<div class="code-block">
	{% include 'components/code-block/header.twig' with { title: 'Toast' } %}
	<div class="code-block__preview">
		{% include 'components/toast/toast.twig' with { columns: 2 } %}
	</div>
	<div class="code-block__container code-block__hidden">
		<div class="code-block__wrapper">
			<div class="code-block__highlight">
				<div class="code-block__btn js-lang-tab active" data-lang-btn="twig">HTML</div>
				<div class="code-block__btn js-lang-tab" data-lang-btn="scss">SCSS</div>
				<div class="code-block__btn js-lang-tab" data-lang-btn="js">JS</div>
				<button type="button" name="copy code to clipboard" class="code-block__btn js-copy-btn">Copy</button>
			</div>
		</div>
		<pre class="active" data-lang="twig"><code class="language-twig">{% filter escape %}{% include 'components/toast/toast.twig' %}{% endfilter %}</code></pre>
		<pre data-lang="scss" class="language-scss" data-src="{{ theme.link }}/src/scss/app/toast.scss"></pre>
		<pre data-lang="js" data-src="{{ theme.link }}/src/js/app/Toast.js"></pre>
	</div>
</div>