<div class="slideshow" data-slideshow-type="centered" data-slideshow-loop="true">
	<div class="container">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="https://source.unsplash.com/1600x900" alt="">
				</div>
				<div class="swiper-slide">
					<img src="https://source.unsplash.com/1600x900" alt="">
				</div>
				<div class="swiper-slide">
					<img src="https://source.unsplash.com/1600x900" alt="">
				</div>
				<div class="swiper-slide">
					<img src="https://source.unsplash.com/1600x900" alt="">
				</div>
				<div class="swiper-slide">
					<img src="https://source.unsplash.com/1600x900" alt="">
				</div>
			</div>
		</div>
		<div class="swiper-controls">
			<div class="swiper-controls__wrapper">
				<div class="swiper-button-prev">
					{% include 'svg/arrow-left.twig' %}
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next">
					{% include 'svg/arrow-right.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>