<div class="toast-example py-14">
	<div class="container">
		<div class="flex justify-center">
			<button class="btn btn--dark js-toast-trigger">Open Toast</button>
		</div>
	</div>
</div>
<div class="toast">
	<div class="container">
		<p>Feelin toasty!</p>
	</div>
</div>